:host {
    .mat-icon {
      vertical-align: middle;
      margin-right: 1rem;
    }
  }
  .logo {
    text-align: center;
    padding: 2.6rem 1rem;
    img {
      width: 200px;
    }
  }
  .mat-divider {
    border-top-width: 2px;
    border-color: rgb(36, 36, 36);
  }
  .mat-list-item {
    color: #02bcdd !important;
    font-size: 0.8rem;
    height: 44px !important;
    margin-bottom: 4px;
  }
  .list-item-active {
    background-color: #06d7fc !important;
  }
  .mat-list-item::hover {
      color: #02bcdd !important;
  }
    ::ng-deep {
      .mat-list-item-content {
        border-radius: 5px;
        margin: 0 8px;}
        .mat-list-item-content::hover {
          background: #02bcdd !important;
        }
      }
    
  
  .list-item-active {
    background-color: #06d7fc !important;
    /* background: blue !important; */
   /*  // border-radius: 0 2rem 2rem 0;
    // &:hover {
    //   background: blue;
    // } */
  
    color: #f2f5f7 !important;
    :ng-deep {
      .mat-list-item-content {
        background: #f3f3f3 !important;
        &:hover {
          background: #f3f3f3 !important;
        }
      }
    }
  }
  .mat-subheader {
    color: #09b9e6;
    font-size: 0.6rem;
    font-weight: 100;
    letter-spacing: 1px;
  }


/* .sidebarItem {
    background-color: #06d7fc !important;
} */